@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #0E5B74;
  font-family: "Montserrat";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, a, img {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #0E5B74;
}

.icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 8px;
  padding-bottom: 8px;
}

section {
  background-color: #C0CDD2;
}

header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .link-cab {
  background-color: #0E5B74;
  border: 1px solid #C0CDD2;
  color: #C0CDD2;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 620px;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
}
header .link-cab:hover {
  background-color: #053C4E;
}
header .link-logout {
  background-color: #0E5B74;
  border: 1px solid #C0CDD2;
  color: #C0CDD2;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 620px;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
  min-width: 290px;
}
header .link-logout:hover {
  background-color: #053C4E;
}
header .link-cab.active {
  background-color: #C0CDD2;
  border: none;
  color: #0E5B74;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 620px;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
}
header .link-logout.active {
  background-color: #C0CDD2;
  border: none;
  color: #0E5B74;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 620px;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
  min-width: 290px;
}

.user-info {
  padding-top: 25px;
}
.user-info .item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user-info .info-title {
  font-size: 24px;
  letter-spacing: 0.32em;
  text-align: left;
  font-weight: 400;
  margin-bottom: 15px;
}
.user-info .info-title:last-child {
  margin-bottom: 0;
}
.user-info span {
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 0.44em;
  text-align: center;
}
.user-info .status {
  color: #E78513;
}

.user-btn {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}
.user-btn .btn-doc {
  background-color: #C0CDD2;
  border: none;
  color: #0E5B74;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 620px;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
  position: relative;
  background-color: #C0CDD2;
  border: 1px solid #0E5B74;
  color: #0E5B74;
}
.user-btn .btn-doc:hover {
  background-color: #AAB2B5;
}
.user-btn .btn-ann {
  background-color: #C0CDD2;
  border: none;
  color: #0E5B74;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 620px;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
  background-color: #C0CDD2;
  border: 1px solid #0E5B74;
  color: #0E5B74;
}
.user-btn .btn-ann:hover {
  background-color: #AAB2B5;
}
.user-btn .btn-ann.active, .user-btn .btn-doc.active {
  background-color: #0E5B74;
  border: 1px solid #C0CDD2;
  color: #C0CDD2;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.32em;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 620px;
  -webkit-transition: background-color linear 0.4s;
  transition: background-color linear 0.4s;
}
.user-btn .btn-ann.active:hover, .user-btn .btn-doc.active:hover {
  background-color: #053C4E;
}
.user-btn .btn-ann.active:hover, .user-btn .btn-doc.active:hover {
  background-color: #0E5B74;
}

.block-doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 670px;
  height: 100%;
  position: relative;
}
.block-doc .doc-img {
  padding: 10px;
  border: 1px solid #0E5B74;
  min-height: 720px;
  height: 100%;
  width: 100%;
  margin-right: 15px;
}
.block-doc .doc-img iframe {
  width: 100%;
  height: 100%;
  min-height: 715px;
}
.block-doc .doc-img .br {
  position: absolute;
  max-width: 230px;
  width: 100%;
  padding: 5px;
  background-color: #f00;
  font-size: 18px;
  color: white;
  letter-spacing: 0.2em;
  text-align: center;
  bottom: -4.6%;
  right: 42.5%;
  display: none
}
.block-doc .doc-img .br.active{
    display: block;
}
.block-doc .doc-img .br1 {
  position: absolute;
  max-width: 230px;
  width: 100%;
  padding: 5px;
  background-color: #559813;
  font-size: 18px;
  color: white;
  letter-spacing: 0.2em;
  text-align: center;
  bottom: -4.6%;
  right: 42.5%;
  display: none;
}
.block-doc .doc-img .br1.active{
    display: block;
}
.block-doc .doc-info {
  min-width: 300px;
  width: 70%;
  min-height: 720px;
  height: 100%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #0E5B74;
  font-size: 24px;
  letter-spacing: 0.32em;
  text-align: left;
  font-weight: 400;
}
.block-doc .doc-info .list-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
.block-doc .doc-info ul {
  list-style: none;
}

.block-sup-doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 40px;
}
.block-sup-doc .under-doc, .block-sup-doc .browsed {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: left;
}
.block-sup-doc span {
  font-weight: 600;
}

.ann-wrapper {
  padding-bottom: 20px;
}
.ann-wrapper .ann {
  width: 100%;
  border: 1px solid #0E5B74;
  padding: 20px 25px 10px 25px;
  margin-bottom: 30px;
}
.ann-wrapper .ann .ann-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.52em;
  margin-bottom: 10px;
}
.ann-wrapper .ann .ann-content {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.32em;
  text-align: left;
  margin-bottom: 25px;
}
.ann-wrapper .ann .info-ann {
  font-weight: 600;
  font-size: 24px;
  font-size: 24px;
  letter-spacing: 0.52em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ann-wrapper .ann .info-ann .ann-author > span, .ann-wrapper .ann .info-ann .ann-date > span {
  font-weight: 400;
  letter-spacing: .3em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}
.footer .footer-year, .footer .pro-title {
  font-size: 20px;
  letter-spacing: 0.56em;
  color: #C0CDD2;
  text-align: left;
}
.footer .production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .production .pro-name {
  font-size: 20px;
  color: white;
  letter-spacing: 0.23em;
  margin-left: 20px;
  -webkit-transition: -webkit-transform linear 0.4s;
  transition: -webkit-transform linear 0.4s;
  transition: transform linear 0.4s;
  transition: transform linear 0.4s, -webkit-transform linear 0.4s;
}
.footer .production .pro-name:hover {
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
}
.under-doc span{
    letter-spacing: .1em;
}
.user-btn{
    position: relative;
}
.count-mesage{
    color: black;
    padding-top: 10px;
    width: 80px;
    height: 49px;
    background-color: #F2A5A5;
    position: absolute;
    border-radius: 30px;
    top: 9%;
    right: 49%;
    z-index: 1;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.doc-img{
    position: reliative;
}
.arrow-left , .arrow-right {
    position: absolute;
    background-color: #0E5B74;
    font-size: 170px;
    color: #C0CDD2;
    top: 40%;
    opacity: 0;
    
    cursor: pointer;
    transition: opacity linear .6s;
}
.arrow-left{
    left: 0;
    padding-right:5px;
}
.arrow-right{
    right: 42.55%;
    padding-left:5px;
}
.arrow-left:hover , .arrow-right:hover{
    opacity: 1;
}
.img-count{
    height: 40px;
    max-width: 100%;
    background-color: #0E5B74;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}


.img-item{
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color:#C0CDD2 ;
    margin-left : 15px;
    cursor: pointer;
}
.img-item.active{
    background-color:#0E5B74;
    border: 5px solid #C0CDD2;
    cursor: inherit;
}
/* new */
.iff{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.image-items{
    border-radius: 20px;
    display: none;
}
.image-items:not(:last-child){
    margin-bottom: 15px;
}
.image-items.active{
    display: block;
}

/*doc info */


